<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Beazley artifacts" value="http://nuget.bfl.local/api/v2/" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Beazley Share" value="\\UKDVAP039\NuGetPackages" />
    <add key="TC Nuget Feed" value="http://teamcity.bfl.local/guestAuth/app/nuget/v1/FeedService.svc/" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <disabledPackageSources>
    <add key="Beazley Share" value="true" />
    <add key="TC Nuget Feed" value="true" />
  </disabledPackageSources>
</configuration>
