<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Octokit" version="0.24.0" targetFramework="net45" />
  <package id="RestSharp" version="104.1" targetFramework="net40-Client" />
  <package id="ScriptCs.Beazley.ReleaseNotes" version="1.0.20" targetFramework="net461" />
  <package id="ScriptCs.Contracts" version="0.17.0" targetFramework="net45" />
  <package id="ScriptCs.Contracts" version="0.17.1" targetFramework="net45" />
  <package id="ScriptCs.Octokit" version="0.5.6" targetFramework="net45" />
  <package id="Results.TechTalk.JiraRestClient.Agile" version="2.6.0.3" targetFramework="net461" />
</packages>
